In [1]:
import pandas as pd
import glob, os

file = "/Users/sagardhal/Desktop/Practice/personal-stock/data/stock_data_combined_20250904_071145.parquet"
# load the dataframe
df = pd.read_parquet(file)

print("Shape:", df.shape)
print("First 5 columns:", df.columns[:5].tolist())

# look for macro-ish names
macro_cols = [c for c in df.columns if any(k in c.lower() for k in ["macro", "dgs", "fedfunds", "fed"])]
print("\nMacro-like columns found:", len(macro_cols))
print(macro_cols[:50])  # show first 50 if there are many

Shape: (2094565, 222)
First 5 columns: ['Date', 'Open', 'High', 'Low', 'Close']

Macro-like columns found: 8
['fedfunds_yoy', 'fedfunds_qoq', 'dgs1_yoy', 'dgs1_qoq', 'dgs5_yoy', 'dgs5_qoq', 'dgs10_yoy', 'dgs10_qoq']

In [ ]:
df.head()

,Date,Open,High,Low,Close,adj_close,Volume,Ticker,year,month,...,cpilfesl_yoy,cpilfesl_qoq,fedfunds_yoy,fedfunds_qoq,dgs1_yoy,dgs1_qoq,dgs5_yoy,dgs5_qoq,dgs10_yoy,dgs10_qoq
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098485,469033600.0,AAPL,1980,12,...,0.121532,0.034105,0.371553,0.73873,0.295359,0.315338,0.295627,0.171969,0.260496,0.146701
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093347,175884800.0,AAPL,1980,12,...,0.121532,0.034105,0.371553,0.73873,0.320643,0.326253,0.304554,0.172208,0.266730,0.145203
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086495,105728000.0,AAPL,1980,12,...,0.121532,0.034105,0.371553,0.73873,0.343486,0.360754,0.337143,0.194894,0.297791,0.171726
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.088636,86441600.0,AAPL,1980,12,...,0.121532,0.034105,0.371553,0.73873,0.341880,0.382042,0.336224,0.202949,0.285576,0.172109
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091206,73449600.0,AAPL,1980,12,...,0.121532,0.034105,0.371553,0.73873,0.341880,0.295833,0.336224,0.156879,0.285576,0.130881

In [4]:
df.describe().T

/Users/sagardhal/Desktop/Practice/personal-stock/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/sagardhal/Desktop/Practice/personal-stock/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,count,mean,min,25%,50%,75%,max,std
Date,2094565,2004-10-30 11:53:54.755283456,1962-01-02 00:00:00,1994-10-06 00:00:00,2007-04-20 00:00:00,2017-01-10 00:00:00,2025-09-03 00:00:00,NaN
Open,2094541.0,64.077145,0.005208,7.76,25.75,62.810001,5815.0,153.689353
High,2094541.0,64.837645,0.005208,7.88,26.1,63.540001,5839.410156,155.444593
Low,2094541.0,63.299287,0.004801,7.64855,25.389999,62.088051,5707.930176,151.902561
Close,2094541.0,64.086593,0.005208,7.765625,25.75,62.84,5815.919922,153.730653
...,...,...,...,...,...,...,...,...
dgs1_qoq,2094503.0,0.057383,-0.930818,-0.098696,0.0,0.109974,5.357143,0.450129
dgs5_yoy,2094320.0,0.11295,-0.869955,-0.196078,-0.010043,0.202216,3.818182,0.602092
dgs5_qoq,2094503.0,0.020363,-0.791411,-0.090379,0.003012,0.089744,1.5,0.218543
dgs10_yoy,2094320.0,0.043137,-0.787402,-0.154206,-0.015267,0.156895,1.836066,0.347941
dgs10_qoq,2094503.0,0.009609,-0.698324,-0.074074,0.0,0.069959,0.870968,0.153778

In [6]:
# ---- Group by ticker and get min/max ----
date_ranges = (
    df.groupby("Ticker")["Date"]
      .agg(Start="min", End="max")
      .reset_index()
)

# ---- Add number of days covered ----
date_ranges["Days"] = (date_ranges["End"] - date_ranges["Start"]).dt.days + 1

date_ranges = date_ranges.sort_values("Start", ascending=False)


display(date_ranges.head(20))  # show first 20
print(f"\nTotal tickers: {len(date_ranges)}")

    Ticker      Start        End  Days
64     CVS 2025-07-31 2025-09-03    35
96     GEV 2024-03-27 2025-09-03   526
22     ARM 2023-09-14 2025-09-03   721
130   KVUE 2023-05-04 2025-09-03   854
46     CEG 2022-01-19 2025-09-03  1324
21     APP 2021-04-15 2025-09-03  1603
55    COIN 2021-04-14 2025-09-03  1604
2     ABNB 2020-12-10 2025-09-03  1729
67    DASH 2020-12-09 2025-09-03  1730
187   PLTR 2020-09-30 2025-09-03  1800
40    CARR 2020-03-19 2025-09-03  1995
176   OTIS 2020-03-19 2025-09-03  1995
68    DDOG 2019-09-19 2025-09-03  2177
60    CRWD 2019-06-12 2025-09-03  2276
226   UBER 2019-05-10 2025-09-03  2309
76     DOW 2019-03-20 2025-09-03  2360
180    PDD 2018-07-26 2025-09-03  2597
248     ZS 2018-03-16 2025-09-03  2729
110    HWM 2016-11-01 2025-09-03  3229
236    VST 2016-10-05 2025-09-03  3256

Total tickers: 250

In [8]:
coverage = df.groupby("Ticker")["Date"].agg(Start="min", End="max", Days="count")

coverage

            Start        End   Days
Ticker
AAPL   1980-12-12 2025-09-03  11266
ABBV   2013-01-02 2025-09-03   3181
ABNB   2020-12-10 2025-09-03   1181
ABT    1980-03-17 2025-09-03  11454
ACN    2001-07-19 2025-09-03   6061
...           ...        ...    ...
WMT    1972-08-25 2025-09-03  13360
XOM    1962-01-02 2025-09-03  16019
XYZ    2015-11-19 2025-09-03   2454
ZS     2018-03-16 2025-09-03   1871
ZTS    2013-02-01 2025-09-03   3166

[250 rows x 3 columns]

In [10]:
nulls = df.isnull().sum().sort_values(ascending=False)
nulls_by_ticker = df.groupby("Ticker").apply(lambda x: x.isnull().sum())
nulls_by_ticker

/var/folders/z9/l3h5t0t97_9cn2kzxx156g2m0000gn/T/ipykernel_95755/2688343947.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nulls_by_ticker = df.groupby("Ticker").apply(lambda x: x.isnull().sum())

,Date,Open,High,Low,Close,adj_close,Volume,Ticker,year,month,...,cpilfesl_yoy,cpilfesl_qoq,fedfunds_yoy,fedfunds_qoq,dgs1_yoy,dgs1_qoq,dgs5_yoy,dgs5_qoq,dgs10_yoy,dgs10_qoq
Ticker,,,,,,,,,,,,,,,,,,,,,
AAPL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABBV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABNB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ACN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WMT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
XOM,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
XYZ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZTS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
bad_prices = df[(df["Close"] <= 0) | (df["Open"] <= 0)]
low_volume = df.groupby("Ticker")["Volume"].apply(lambda v: (v == 0).mean())

low_volume

Ticker
AAPL    0.000089
ABBV    0.000000
ABNB    0.000000
ABT     0.000000
ACN     0.000000
          ...
WMT     0.003967
XOM     0.000000
XYZ     0.000000
ZS      0.000000
ZTS     0.000000
Name: Volume, Length: 250, dtype: float64

In [13]:
df["Return"] = df.groupby("Ticker")["Close"].pct_change()
outliers = df[df["Return"].abs() > 0.5]
outliers

/var/folders/z9/l3h5t0t97_9cn2kzxx156g2m0000gn/T/ipykernel_95755/3013944322.py:1: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["Return"] = df.groupby("Ticker")["Close"].pct_change()

,Date,Open,High,Low,Close,adj_close,Volume,Ticker,year,month,...,cpilfesl_qoq,fedfunds_yoy,fedfunds_qoq,dgs1_yoy,dgs1_qoq,dgs5_yoy,dgs5_qoq,dgs10_yoy,dgs10_qoq,Return
5004,2000-09-29,0.503348,0.517857,0.453125,0.459821,0.386509,7.421641e+09,AAPL,2000,9,...,0.006626,0.249042,-0.001531,0.117864,0.003295,-0.031457,-0.035948,-0.052288,-0.030000,-0.518692
41665,2016-04-22,3.190000,3.990000,3.180000,3.990000,3.990000,1.432653e+08,AMD,2016,4,...,0.006515,2.083333,0.088235,1.240000,0.191489,-0.132911,-0.055172,-0.160000,-0.059701,0.522901
100948,2008-11-24,61.200001,65.000000,52.500000,59.500000,44.306896,8.037831e+07,C,2008,11,...,0.002560,-0.913140,-0.805000,-0.703125,-0.560185,-0.339233,-0.258278,-0.166667,-0.111406,0.578249
294053,2000-03-20,109.250000,119.000000,85.750000,86.750000,86.750000,1.732560e+07,MSTR,2000,3,...,0.007275,0.216216,0.103774,0.317125,0.043551,0.252427,0.022187,0.172676,-0.032864,-0.617420
294326,2001-04-19,3.460000,7.170000,3.390000,5.240000,5.240000,1.004660e+07,MSTR,2001,4,...,0.006525,-0.202658,-0.197324,-0.367576,-0.177453,-0.263636,-0.002053,-0.166139,0.003810,0.764310
646093,1968-05-21,0.427984,0.427984,0.413580,0.422840,0.177806,2.515050e+06,MCD,1968,5,...,0.008403,0.553299,0.299363,0.525060,0.168207,0.312896,0.108108,0.248963,0.075812,-0.507194
646334,1969-06-13,0.275720,0.275720,0.265432,0.267490,0.112789,1.810350e+06,MCD,1969,6,...,0.013228,0.466227,0.310751,0.169748,0.099526,0.146299,0.034161,0.154255,0.025197,-0.500959
704155,2022-03-16,37.119999,42.970001,35.639999,42.619999,42.619999,7.970770e+07,PDD,2022,3,...,0.013404,1.857143,1.500000,21.500000,4.000000,1.449438,0.847458,0.265896,0.553191,0.560601
772728,2015-05-21,2.800000,2.874000,2.411000,2.568000,2.568000,1.230390e+08,SHOP,2015,5,...,0.006312,0.333333,0.090909,1.200000,0.000000,-0.072727,-0.019231,-0.157692,0.063107,0.510588
835824,2012-05-07,52.119999,58.750000,51.849998,58.119999,58.119999,4.021630e+07,VRTX,2012,5,...,0.005219,0.777778,0.600000,-0.052632,0.200000,-0.572973,-0.036585,-0.394322,-0.044776,0.553595
836062,2013-04-19,81.550003,85.900002,80.099998,85.599998,85.599998,2.489500e+07,VRTX,2013,4,...,0.002597,0.071429,0.071429,-0.333333,-0.142857,-0.121951,-0.052632,-0.117347,-0.069892,0.619066
1053815,2007-07-02,27.546106,27.868832,27.275434,27.775137,16.596020,1.150265e+07,JCI,2007,7,...,0.004892,0.003817,0.001905,-0.047893,0.010163,-0.027778,0.076923,-0.015748,0.072961,-0.605209
1063662,2008-10-14,9.250000,12.540000,9.190000,11.970000,7.119606,3.930530e+07,KEY,2008,10,...,0.003811,-0.796218,-0.517413,-0.691919,-0.460177,-0.254950,-0.101493,-0.074830,0.002457,0.542526
1125313,2008-10-13,15.430000,19.059999,12.660000,18.100000,12.467537,1.996840e+08,MS,2008,10,...,0.003811,-0.796218,-0.517413,-0.723785,-0.497674,-0.305764,-0.112179,-0.107798,0.005168,0.869835
1179175,1997-05-13,9.500000,13.125000,9.375000,11.890625,11.839868,3.472700e+06,REGN,1997,5,...,0.006544,0.049618,0.059730,0.048128,0.072993,0.028037,0.078431,0.009023,0.061709,0.509921
1179876,2000-02-23,22.750000,38.750000,22.750000,36.625000,36.468658,4.523500e+06,REGN,2000,2,...,0.005605,0.203782,0.057196,0.298137,0.103873,0.278311,0.099010,0.217391,0.052288,0.754491
1180653,2003-03-31,8.650000,8.810000,7.400000,7.520000,7.487899,2.833050e+07,REGN,2003,3,...,0.002082,-0.277457,0.008065,-0.525896,-0.075758,-0.403433,0.028777,-0.266284,0.023499,-0.565569
1419683,1987-10-30,0.888889,1.037037,0.888889,0.888889,0.784558,1.620000e+04,FICO,1987,10,...,0.012680,0.246154,0.107903,0.146010,-0.037090,0.218341,0.003597,0.208163,0.007946,0.599999
1436421,2008-10-14,7.980000,10.380000,7.920000,10.130000,5.888161,1.599170e+07,HBAN,2008,10,...,0.003811,-0.796218,-0.517413,-0.691919,-0.460177,-0.254950,-0.101493,-0.074830,0.002457,0.500741
1450069,1993-03-08,6.250000,7.000000,6.125000,6.875000,6.074773,3.994100e+06,HUM,1993,3,...,0.008021,-0.228643,0.051370,-0.277186,-0.081301,-0.267425,-0.143095,-0.227213,-0.134615,-0.656250
1467626,2018-07-10,20.500000,22.389999,20.459999,22.190001,18.848362,2.363230e+07,KDP,2018,7,...,0.004166,0.660870,0.130178,0.934426,0.118483,0.530387,0.037453,0.281250,0.014134,-0.820556
1479966,1988-10-31,2.250000,2.281250,2.187500,2.281250,0.906899,2.187200e+06,KR,1988,10,...,0.012945,0.138546,0.070968,0.158046,0.028061,0.012092,-0.031250,-0.017045,-0.043142,-0.685345
1497278,1980-11-12,2.583333,2.583333,2.500000,2.500000,0.774192,6.144000e+05,MMC,1980,11,...,0.031980,0.202580,0.649324,0.144928,0.374616,0.177757,0.182252,0.202507,0.148250,-0.516129
1536223,2008-03-31,23.120001,23.719999,21.950001,22.200001,7.588328,3.344790e+07,MO,2008,3,...,0.005873,-0.503802,-0.384434,-0.688129,-0.511041,-0.472103,-0.250000,-0.272152,-0.117647,-0.699309
1572201,2002-01-03,2.290000,3.610000,2.240000,3.500000,3.500000,2.065500e+06,ON,2002,1,...,0.006937,-0.710702,-0.305221,-0.547475,-0.021459,-0.096774,0.167959,-0.015267,0.150442,0.555556
1598846,2002-07-02,4.100000,6.500000,2.800000,2.920000,2.865644,5.135700e+06,PWR,2002,7,...,0.004217,-0.541114,-0.011429,-0.439560,-0.218391,-0.172199,-0.161765,-0.094877,-0.096591,-0.680525
1681389,2008-07-22,5.380000,8.410000,5.000000,8.410000,8.410000,4.748810e+07,UAL,2008,7,...,0.006548,-0.617871,-0.118421,-0.510504,0.219895,-0.230088,0.104762,-0.121019,0.069767,0.685371
1785824,1998-10-13,0.236111,0.236111,0.111111,0.111111,0.111111,1.067400e+06,DECK,1998,10,...,0.005187,-0.078182,-0.084838,-0.221612,-0.210037,-0.264310,-0.202555,-0.212978,-0.140000,-0.542858
1785825,1998-10-14,0.159722,0.208333,0.152778,0.194444,0.194444,2.228400e+06,DECK,1998,10,...,0.005187,-0.078182,-0.084838,-0.207940,-0.219739,-0.269430,-0.229508,-0.225042,-0.168784,0.749998
1820978,2001-04-09,26.559999,29.440001,23.040001,29.440001,22.010435,3.638800e+04,EQIX,2001,4,...,0.006525,-0.202658,-0.197324,-0.356209,-0.182573,-0.269231,-0.055901,-0.176962,-0.033333,0.549474
1846573,2011-12-21,27.379999,28.299999,27.280001,27.889999,25.402607,5.279100e+06,EXPE,2011,12,...,0.005692,-0.611111,-0.125000,-0.551724,0.300000,-0.549505,0.022472,-0.410714,0.076087,-0.511559
1880599,1997-03-24,3.968750,4.000000,2.750000,3.000000,3.000000,8.859280e+07,IDXX,1997,3,...,0.005974,0.015066,0.018904,0.071168,0.067151,0.075163,0.078303,0.061611,0.059748,-0.625000
1907021,1997-11-03,7.525741,8.150407,7.525741,7.912439,5.644174,6.818140e+05,LEN,1997,11,...,0.005889,0.039548,-0.003610,0.007407,-0.016275,-0.023609,-0.052373,-0.039024,-0.048309,-0.591398
1940164,1987-11-17,0.032552,0.048828,0.032552,0.032552,0.026634,1.152000e+06,MNST,1987,11,...,0.011794,0.107616,-0.005944,0.225694,-0.001414,0.260150,0.003593,0.239161,0.013730,1.000000
1940190,1987-12-24,0.032552,0.048828,0.032552,0.032552,0.026634,2.851200e+05,MNST,1987,12,...,0.010067,-0.020260,-0.062327,0.225641,-0.076031,0.254873,-0.077178,0.245763,-0.073529,1.000000
1940199,1988-01-08,0.032552,0.048828,0.032552,0.032552,0.026634,2.448960e+06,MNST,1988,1,...,0.009182,0.062208,-0.063100,0.270175,-0.113831,0.290715,-0.108307,0.279601,-0.093939,1.000000
1940744,1990-03-06,0.042969,0.055990,0.042969,0.042969,0.035157,6.528000e+06,MNST,1990,3,...,0.014438,-0.159391,-0.020118,-0.145062,0.062660,-0.110996,0.098718,-0.094837,0.090102,0.833305
1940912,1990-11-01,0.028646,0.036458,0.028646,0.028646,0.023438,5.942400e+06,MNST,1990,11,...,0.010249,-0.086550,-0.039360,-0.049351,-0.040629,0.044872,-0.016888,0.088945,-0.016073,0.571452
1941343,1992-07-17,0.015625,0.029948,0.015625,0.029948,0.029948,1.004160e+07,MNST,1992,7,...,0.008886,-0.441581,-0.128686,-0.434572,-0.191686,-0.250965,-0.155298,-0.158537,-0.089710,0.642877
1974841,2020-03-09,15.580000,19.190001,12.040000,12.510000,11.895427,1.049303e+08,OXY,2020,3,...,0.003887,-0.730290,-0.580645,-0.875000,-0.800000,-0.803419,-0.719512,-0.787402,-0.698324,-0.534252
1987972,2019-01-14,9.210000,9.730000,7.780000,8.380000,8.323606,1.271988e+08,PCG,2019,1,...,0.007141,0.702128,0.095890,0.427778,-0.033835,0.049793,-0.167763,0.030418,-0.150470,-0.523593
1987979,2019-01-24,7.900000,14.500000,7.300000,13.950000,13.856126,8.253830e+07,PCG,2019,1,...,0.007141,0.702128,0.095890,0.379679,-0.022727,0.011905,-0.123711,-0.025090,-0.116883,0.745932
2029662,2008-02-25,25.820000,27.000000,25.420000,26.889999,26.888338,3.756750e+07,TTWO,2008,2,...,0.006014,-0.433460,-0.336303,-0.566191,-0.356495,-0.330337,-0.148571,-0.133038,-0.029777,0.548963
2088747,2002-07-22,2.853200,3.008088,1.622248,1.638552,0.677958,6.094320e+07,WMB,2002,7,...,0.004217,-0.541114,-0.011429,-0.456583,-0.174468,-0.221748,-0.194260,-0.127660,-0.117417,-0.610465
2088752,2002-07-29,1.198344,1.622248,1.027152,1.622248,0.671212,3.494750e+07,WMB,2002,7,...,0.004217,-0.541114,-0.011429,-0.445402,-0.171674,-0.210300,-0.180401,-0.083333,-0.090551,1.010101